name: back_deployment

on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.1

      - name: Run CI Ansible playbook
        uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: ci_playbook.yml
          directory: ./
          vault_password: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}

      - name: Archive back production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: back-app
          path: app/back
